@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<p>This web interface has been designed to serve as the official tool for users to interact with the "[Your Plant Name]" Process Downtime.</p>
<p>The "[Your Plant Name]" Process Downtime is generated automatically from the OSISoft PI AF System and based on predefined analyses, additionally, users manual input can join the downtime information for further clarification on the downtime root cause.</p>

<p> "[Your Plant Name]" &copy; 2021 - Process Downtime Web Application </p>

