@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<table>
    <thead>
        <tr class="table-light table-bordered">
            <th id=grant1></th>
            <th id=grant2></th>
            <th id=grant3></th>
            <th id=grant4></th>
            <th id=grant5></th>
            <th id=grant6></th>
            <th id=grant7></th>
            <th id=grant8></th>
            <th id=grant9></th>
            <th id=grant10></th>
            <th id=grant11></th>
            <th id=grant12></th>
            <th id=grant13></th>
            <th id=grant14></th>
            <th id=grant15></th>
            <th id=grant16></th>
            <th id=grant17></th>
            <th id=grant18></th>
            <th id=grant19></th>
            <th id=grant20></th>
            <th id=grant21></th>
            <th id=grant22></th>
            <th id=grant23></th>
            <th id=grant24></th>
            <th id=grant25></th>
            <th id=grant26></th>
            <th id=grant27></th>
            <th id=grant28></th>
            <th id=grant29></th>
            <th id=grant30></th>
            <th id=grant31></th>
            <th id=grant32></th>
            <th id=grant33></th>
            <th id=grant34></th>
            <th id=grant35></th>
            <th id=grant36></th>
            <th id=grant37></th>
            <th id=grant38></th>
            <th id=grant39></th>
            <th id=grant40></th>
            <th id=grant41></th>
            <th id=grant42></th>
            <th id=grant43></th>
            <th id=grant44></th>
            <th id=grant45></th>
            <th id=grant46></th>
            <th id=grant47></th>
            <th id=grant48></th>
            <th id=grant49></th>
            <th id=grant50></th>
            <th id=grant51></th>
            <th id=grant52></th>
            <th id=grant53></th>
            <th id=grant54></th>
            <th id=grant55></th>
            <th id=grant56></th>
            <th id=grant57></th>
            <th id=grant58></th>
            <th id=grant59></th>
            <th id=grant60></th>
            <th id=grant61></th>
            <th id=grant62></th>
            <th id=grant63></th>
            <th id=grant64></th>
            <th id=grant65></th>
            <th id=grant66></th>
            <th id=grant67></th>
            <th id=grant68></th>
            <th id=grant69></th>
            <th id=grant70></th>
            <th id=grant71></th>
            <th id=grant72></th>
            <th id=grant73></th>
            <th id=grant74></th>
            <th id=grant75></th>
            <th id=grant76></th>
            <th id=grant77></th>
            <th id=grant78></th>
            <th id=grant79></th>
            <th id=grant80></th>
            <th id=grant81></th>
            <th id=grant82></th>
            <th id=grant83></th>
            <th id=grant84></th>
            <th id=grant85></th>
            <th id=grant86></th>
            <th id=grant87></th>
            <th id=grant88></th>
            <th id=grant89></th>
            <th id=grant90></th>
            <th id=grant91></th>
            <th id=grant92></th>
            <th id=grant93></th>
            <th id=grant94></th>
            <th id=grant95></th>
            <th id=grant96></th>
            <th id=grant97></th>
            <th id=grant98></th>
            <th id=grant99></th>
            <th id=grant100></th>
        </tr>
    </thead>
</table>

