@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h4 class="display-4">Welcome to [Your Plant Name] Process Downtime Web Application</h4>
    <p><a href="https://dotnet.microsoft.com/learn/aspnet/what-is-aspnet-core">using ASP.NET Core</a>.</p>
</div> 
