@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var x = ViewData["mydata"];
}
<script type="text/javascript" src="~/js/BrowseSystem.js"></script>
<blockquote class="blockquote text-center">
    <p class="mb-0">Here is to display how the [Your Plant Name] community has defined the trigger condition for a process downtime.</p>
    <footer class="blockquote-footer">PI AF System <cite title="Source Title">youremail@company.com</cite></footer>
</blockquote>
<div class="row">
    <div class="col-4">
        <input type="button" onclick="SystemTree()" class="btn btn-success btn-block" value="Start" />
        <div id="mydb" style="color:rgb(63,72,20); cursor: pointer"></div>
    </div>
    <div class="col-8">
        <table id="mytable2" class="table">
            <thead class="thead-dark table-bordered">
                <tr>
                    <th style="font-family:Verdana; width: 50%; font-size:12px;"><strong>Attributes</strong></th>
                    <th style="font-family:Verdana; width: 50%; font-size:12px;"><strong>Analyses</strong></th>
                </tr>
            </thead>
            <tbody class="table-bordered">
                <tr>
                    <td id="attributes"></td>
                    <td id="config"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

